/* Fonts */
@font-face {
    font-family: 'Ortankhangeultext';
    src: url('https://uploads-ssl.webflow.com/64520b917dd4e006c8db2106/6480ab5bf617bb88f9d9ace8_OrtankHangeulText-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ortankhangeultext';
    src: url('https://uploads-ssl.webflow.com/64520b917dd4e006c8db2106/6480ab8084451636a5964c5f_OrtankHangeulText-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ortankhangeultext';
    src: url('https://uploads-ssl.webflow.com/64520b917dd4e006c8db2106/6480ab2694e636357948837e_OrtankHangeulText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


body {word-break: keep-all;
  background-color: #f3f2ea;
  font-family: 'Ortankhangeultext', sans-serif;
  font-weight: 400;
  color: #584c43;
  margin:0;padding:0;min-height: 100vh;}

a{text-decoration: none;cursor: pointer}

.wrapper_body {
    height:100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;}



.heading {background-color: #f3f2ea; display:block; position:fixed;top:0;left:0;right:0;
margin:0;
margin-bottom:0;
padding:19px 0 16px 0;
font-size: 30px;line-height:35px;font-weight:300;
border-bottom:1px solid #584c43;z-index: 10;text-align: center;}



.eng-title{font-size: 16px;line-height:16px;font-weight:500;margin:0;padding-top:10px}



/* 푸터 */
.footer{display:block;width:100%;
    max-width:500px;
    margin:0 auto;
    text-align:center;
    z-index: 10;}

.wrap_footer_btns {padding:10px 20px;}

.link-to-copy {font-size:0;line-height:0;}

.footer_btn {cursor: pointer;display: block;
    border:1px solid #7c7067;
    border-radius:30px;
    padding:12px 5px;
    background-color:#f3f2ea;
    margin-bottom:10px;
    font-family: 'Ortankhangeultext', sans-serif;
    font-weight: 400;
    font-size:16px;line-height:16px;
    color:#584c43;}

.footer_btn:hover {
    background-color:#584c43;
    color:#f3f2ea;}

button.footer_btn{width:100%;}

.copy_done{background-color:#83ff90;color:#584c43;}
.copy_done:hover{background-color:#83ff90;color:#584c43;}


.wrap_footer_credit {
  text-align: left;
  grid-column-gap: 10px;
  justify-content: space-between;
  padding:0px 20px 20px 20px;
  display: flex;
  font-weight: 500;
}



.footer_logo {
  flex: none;
  font-weight:500;
  color:#584c43;
  vertical-align: middle;
}

.footer img{height:20px;margin:0 4px 0 0;display:inline-block;vertical-align:middle}
.footer p{display:inline-block;vertical-align:middle;
  font-size: 13px;
  line-height:25px;margin:0;padding:0;}

.footer a{cursor: pointer;color:#584c43;}

.footer_txt {margin:auto 0;
  font-size: 11px;
  line-height: 15px;
  color:#99897e;
}
