.wrapper_form {
    position: relative;
    height: auto;
    display: block;
    width: 100%;
    min-height: 100vh;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;}


.form-group {
    position:relative;
    display:block;
    margin:0 auto;}

.question{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#prevBtn {position:absolute;display: inline-block;cursor: pointer;border-radius:30px;font-size:13px;top:0;left:0;line-height:13px;padding:4px 12px;border:1px solid #7c7067;z-index:10}


.wrapper_result {
    position:relative;
    height:auto;
    display: block;
    text-align: center;}


.result_type {margin:15px 20px 20px 20px;padding:10px 0 15px 0;border-radius:20px;}
.type_label {font-size:14px;line-height:24px;margin:0 20px 20px 20px;padding:0;padding-bottom:5px;text-align: center;border-bottom:2px dotted rgba(88,76,67,0.5);color:rgba(88,76,67,0.8);}
.result_type .type_desc {font-size:16px;line-height:27px;margin:10px;padding:0;}
.result_type .type {font-size:30px;line-height:45px;color:#584c43;border-radius: 60px;font-weight: 300;display: inline-block;padding:15px 25px;margin:0 auto 10px auto;}

.type01 {background-color:#f19bb9;}
.type02 {background-color:#eba8a6;}
.type03 {background-color:#f19d74;}
.type04 {background-color:#f4b667;}
.type05 {background-color:#ebc655;}
.type06 {background-color:#eeda70;}
.type07 {background-color:#c4e17a;}
.type08 {background-color:#f1f779;}
.type09 {background-color:#96db8c;}
.type10 {background-color:#89cfa3;}
.type11 {background-color:#89d1c7;}
.type12 {background-color:#92cde2;}
.type13 {background-color:#8bbefa;}
.type14 {background-color:#a4b9fa;}
.type15 {background-color:#b5a6f3;}
.type16 {background-color:#e3a7fa;}



a {color:#584c43;text-decoration: none;}

.book {
    display: block;
    padding: 15px 15px 10px 15px;
    margin: 0 0 10px 0;
    background-color: rgba(255,255,255,1);
    border-radius: 20px;}

.book:hover{background-color:rgba(255,255,255,0.5)}


.wrapper_books {
    position:relative;
    text-align: left;
    height:auto;
    display: block;
    width:calc(100% - 40px);
    margin:40px auto;
    padding:0;
}

.recom_label {font-size:14px;line-height:24px;width:100%;margin:0 0 15px 0;padding:0;padding-bottom:5px;text-align: center;border-bottom:2px dotted rgba(124,112,103,0.5);color:rgba(124,112,103,1);}

.wrapper_books img{width:30%;height:auto;margin-bottom:10px;border:1px solid #7c7067;border-radius:10px;display:inline-block;vertical-align: top;}
.book_caption {display:inline-block;padding-left:15px;width:calc(70% - 30px);vertical-align: top;}

.wrapper_books .title {font-size:18px;line-height:27px;margin:0;}
.wrapper_books .subtitle {font-size:13px;line-height:21px;margin:0;}
.wrapper_books .bookdesc {font-size:13px;line-height:21px;margin:10px 0 10px 0;color:#7c7067}




.wrapper_quiz {
    position:relative;
    text-align: center;
    min-height: 300px;
    height:auto;
    display:block;
    margin-bottom: auto;
    z-index:1;}

.wrapper_quiz label{font-size:16px;line-height:36px;font-weight:500;background-color:#83ff90;width:36px;height:36px;display:inline-block;border-radius:50%;border:1px solid #7c7067}
.wrapper_quiz p{font-size:30px;line-height:42px;font-weight:300;}

.wrapper_answer {
    display:block;
    margin:0 auto;
    text-align:center;
    z-index: 10;}

.answer_btn {
    display: block;
    cursor: pointer;
    border:1px solid #7c7067;
    border-radius:30px;
    padding:12px 5px;
    background-color:#f3f2ea;
    margin-bottom:10px;
    font-family: 'Ortankhangeultext', sans-serif;
    font-weight: 400;
    font-size:18px;line-height:24px;
    color:#584c43;}

.answer_btn:hover {
    background-color:#584c43;
    color:#f3f2ea;}


.active{background-color:#83ff90;color:#584c43;}




.container {
    background-repeat: no-repeat;
    background-size: 100%;
      display: grid;
      grid-gap: 9px;
      grid-template-columns: 100%;
  color: #eee;
  padding: 30px;
  color: darkgray;
}


#description {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 45px;
    border-top: 7px solid slategray;
    border-bottom:  7px solid slategray;
    color: slategray;
}
.vragen, .results {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  color: slategray;  
}

#moreInfo,#refLinks{ 
   padding: 13px; 
   float: right;
}

li, h3{
  text-align: left;
}

.results{
  padding: 9px 45px;
}
#waarden{
  text-align:center;
}
#radioBtn .notActive{
}